<div class="flex flex-col fixed top-0 left-0 right-0 z-40">
  <div class="top">
    <div
      class="flex flex-col items-center justify-end w-full gap-2 md:flex-row wrapper md:px-4 xl:px-0">
      <p class="md:basis-full md:text-right md:text-nowrap">
        Summer Sale For All Swim Suits And Free Express Delivery - OFF
        50%!
      </p>
      <div
        class="flex items-center justify-around w-full md:justify-between">
        <a
          href="#"
          class="font-bold underline">
          ShopNow
        </a>
        <select
          name="lang"
          class="bg-black text-zinc-50">
          <option value="english">English</option>
        </select>
      </div>
    </div>
  </div>

  <div class="bg-white border-b border-b-black xl:px-6">
    <div class="flex items-center justify-between wrapper md:px-4 xl:px-0">
      <div class="flex items-center justify-between w-full px-4 py-4  md:px-0">
        <app-logo />
        <nav [ngClass]="getNavClasses()" class="menu">
          <ul class="flex flex-col lg:flex-row items-center gap-12">
            <li><a routerLink="/" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink="/contact" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>
            <li><a routerLink="/about" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">About</a></li>
            <li><a routerLink="/sign-up" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">Sign Up</a></li>
          </ul>
        </nav>
        <div class="flex items-center gap-6">
          <div class="flex items-center gap-2">
            <ng-icon name="heroHeart" size="24" />
            <ng-icon name="heroShoppingCart" size="24" />
          </div>
          <button (click)="toggle()" class="flex items-center justify-center relative z-50">
            @if (active) {
              <ng-icon name="heroXMark" size="24" class="lg:!hidden"/>
            } @else {
              <ng-icon name="heroBars3BottomRight" size="24" class="lg:!hidden"/>
            }
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
