.top {
  @apply left-0 right-0 z-40 flex flex-row items-center justify-center h-20 gap-2 text-xs text-center bg-black text-zinc-50 xl:pr-6;
}

.active-link {
  padding-bottom: 1px;
  border-bottom: 0.5px solid #000000;
}

.menu {
  @apply fixed top-0 right-0 flex items-center w-full justify-center transition-[0.5s] bg-transparent z-50 h-screen lg:relative lg:h-full origin-right lg:transform-none translate-x-full;
}

.menu a {
  @apply transition-[0.3s];
}

.active {
  @apply bg-white;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.inactive {
  transform: translateX(100%);
}

@keyframes toggle-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toggle-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
