
<div class="p-1 md:h-full flex items-center justify-center md:p-0">
  <div
    class="flex flex-col items-center justify-center gap-2 px-3 md:px-0 md:pt-0 pt-6 md:flex-row md:justify-between md:h-full xl:justify-around text-cyan-50">
    <div
      class="flex flex-col items-center justify-center gap-5 md:items-start">
      <div class="flex items-center gap-4">
        <ng-icon name="faBrandApple" size="32" />
        <p class="text-xs">iPhone 14 Series</p>
      </div>
      <h1 class="text-4xl text-wrap md:text-nowrap text-center md:text-left">
        Up to 10% off Voucher
      </h1>
      <div class="flex items-center gap-1">
        <a
          href="#"
          class="text-xs pb-0.5 border-b border-b-cyan-50">
          Shop now
        </a>
        <ng-icon name="faSolidArrowRight" size="32" />
      </div>
    </div>
    <div class="relative w-60 h-52 xl:w-[400px] xl:h-80">
      <img ngSrc="/images/apple.png" alt="apple" class="object-contain" fill priority/>
    </div>
  </div>
</div>
