<section
  class="bg-black mt-4 lg:mt-28 grid wrapper grid-cols-1 lg:justify-center lg:items-center ld:h-[500px] lg:grid-cols-2 text-white px-6 md:px-10 lg:px-11 py-6 lg:py-9 gap-6 md:py-10">
  <div class="flex flex-col items-center justify-center gap-6 lg:items-start lg:justify-start lg:gap-8">
    <h1 class="text-[#00FF66] text-base font-semibold">
      Categories
    </h1>
    <h2 class="text-2xl font-semibold text-center lg:text-left xl:text-5xl">
      Enhance Your Music Experience
    </h2>
    <div class="flex items-center justify-center w-full gap-6 text-black lg:justify-start lg:items-start">
      <div class="circle">
        <span class="font-semibold">23</span>
        <span class="text-[11px]">Hours</span>
      </div>
      <div class="circle">
        <span class="font-semibold">05</span>
        <span class="text-[11px]">Days</span>
      </div>
      <div class="circle">
        <span class="font-semibold">59</span>
        <span class="text-[11px]">Minutes</span>
      </div>
      <div class="circle">
        <span class="font-semibold">35</span>
        <span class="text-[11px]">Seconds</span>
      </div>
    </div>
    <button class="py-4 px-12 bg-[#00FF66] text-black rounded-md">
      Buy Now!
    </button>
  </div>
  <div class="relative order-first lg:order-last">
    <div class="relative w-48 h-40 mx-auto md:w-60 md:h-56 lg:w-full lg:h-96">
      <img ngSrc="/images/jbl.png" alt="jbl" fill priority />
    </div>
    <div
      class="absolute top-0 left-1/2 -translate-x-1/2 w-52 h-52 lg:w-full lg:h-80 rounded-full bg-[rgba(217,217,217,0.2)] blur-2xl">
    </div>
  </div>
</section>
