<div class="relative">
  <div class="p-3 relative flex flex-col gap-3 bg-neutral-100">
    <span class="bg-red-400 text-white px-4 rounded-md py-1 w-fit">-40%</span>
    <div class="absolute right-2 top-4 flex flex-col gap-4">
      <button class="bg-white flex items-center justify-center h-8 w-8 rounded-full">
        <ng-icon name="heroHeart" size="24"/>
      </button>
      <button class="bg-white flex items-center justify-center h-8 w-8 rounded-full">
        <ng-icon name="heroEye" size="24"/>
      </button>
    </div>
    <img src="/images/gamepad.png" class="self-center h-40 w-40" />
  </div>
  <h2 class="mt-4 text-base font-semibold">
    HAVIT HV-G92 Gamepad
  </h2>
  <div class="flex items-center gap-2 my-2">
    <p class="text-error-400">$120</p>
    <p class="line-through text-gray-500">$160</p>
  </div>
  <div class="flex items-center gap-2">
    <div class="flex items-center">
      <ng-icon name="heroStarSolid" class="text-yellow-500"/>
      <ng-icon name="heroStarSolid" class="text-yellow-500"/>
      <ng-icon name="heroStarSolid" class="text-yellow-500"/>
      <ng-icon name="heroStarSolid" class="text-yellow-500"/>
      <ng-icon name="heroStarSolid" class="text-yellow-500"/>
    </div>
    <p>(88)</p>
  </div>
</div>
