<main class="relative z-30 top-48">
  <div
    class="grid grid-cols-1 lg:grid-cols-[20%_80%] place-items-center md:place-items-start h-full wrapper lg:px-4 2xl:px-0">
    <div
      class="bg-black text-white relative w-full md:py-10 lg:py-0 lg:h-[344px] lg:order-last flex flex-col justify-center">
      <app-hero-products-carousel />
    </div>
    <div
      class="flex flex-col w-full gap-4 pt-4 lg:pt-0 pl-4 pr-4 lg:pl-0 lg:order-first">
      <div class="flex items-center justify-between gap-1">
        <p>Woman's Fashion</p>
        <ng-icon name="faSolidChevronRight" />
      </div>
      <div class="flex items-center justify-between gap-1">
        <p>Men's Fashion</p>
        <ng-icon name="faSolidChevronRight" />
      </div>
      <div>
        <p>Electronics</p>
      </div>
      <div>
        <p>Home & Lifestyle</p>
      </div>
      <div>
        <p>Medicine</p>
      </div>
      <div>
        <p>Sports & Outdoor</p>
      </div>
      <div>
        <p>Baby's & Toys</p>
      </div>
      <div>
        <p>Groceries & Pets</p>
      </div>
      <div>
        <p>Health & Beauty</p>
      </div>
    </div>
  </div>
  <flash-sales-products-section />
  <categories-section />
  <best-selling-products />
  <app-flash-sale-banner />
</main>
