<main class="relative z-30 top-48">
  <div
    class="grid grid-cols-1 xl:grid-cols-[20%_80%] place-items-center md:place-items-start gap-6  h-full  wrapper">
    <div class="bg-black text-white w-full md:py-10 xl:py-0 xl:h-[344px] xl:order-last">
      <app-hero-products-carousel />
    </div>
    <div class="flex flex-col w-full gap-4 px-4 xl:pl-0 xl:order-first">
      <div class="flex items-center justify-between gap-1">
        <p>Woman’s Fashion</p>
        <ng-icon name="faSolidChevronRight" />
      </div>
      <div class="flex items-center justify-between gap-1">
        <p>Men’s Fashion</p>
        <ng-icon name="faSolidChevronRight" />
      </div>
      <div>
        <p>Electronics</p>
      </div>
      <div>
        <p>Home & Lifestyle</p>
      </div>
      <div>
        <p>Medicine</p>
      </div>
      <div>
        <p>Sports & Outdoor</p>
      </div>
      <div>
        <p>Baby’s & Toys</p>
      </div>
      <div>
        <p>Groceries & Pets</p>
      </div>
      <div>
        <p>Health & Beauty</p>
      </div>
    </div>
  </div>
  <products-section />
</main>
