<section class="px-3 lg:px-4 wrapper 2xl:px-0 pt-5 lg:pt-10  pb-9 lg:pb-16">
  <div class="grid grid-cols-1 place-items-center md:content-center md:auto-cols-[1fr] md:grid-cols-3 gap-y-8">
    <div class="flex flex-col items-center md:w-52 lg:w-64">
      <div
        class="bg-slate-300 h-20 w-20 flex items-center justify-center rounded-full">
        <div
          class="bg-black flex items-center justify-center h-14 w-14 rounded-full text-white">
          <ng-icon name="faSolidTruckFast" size="32" />
        </div>
      </div>
      <h3 class="text-xl text-center font-semibold mt-6 text-wrap">FREE AND FAST DELIVERY</h3>
      <p class="text-sm mt-2 text-wrap text-center">Free delivery for all orders over $140</p>
    </div>
    <div class="flex flex-col items-center md:w-52 lg:w-64">
      <div
        class="bg-slate-300 h-20 w-20 flex items-center justify-center rounded-full">
        <div
          class="bg-black flex items-center justify-center h-14 w-14 rounded-full text-white">
          <ng-icon name="matHeadsetMic" size="32" />
        </div>
      </div>
      <h3 class="text-xl text-center font-semibold mt-6 text-wrap">24/7 CUSTOMER SERVICE</h3>
      <p class="text-sm mt-2 text-center text-wrap">Friendly 24/7 customer support</p>
    </div>
    <div class="flex flex-col items-center md:w-52 lg:w-64">
      <div
        class="bg-slate-300 h-20 w-20 flex items-center justify-center rounded-full">
        <div
          class="bg-black flex items-center justify-center h-14 w-14 rounded-full text-white">
          <ng-icon name="bootstrapShieldCheck" size="32" />
        </div>
      </div>
      <h3 class="text-xl text-center font-semibold mt-6 text-wrap">MONEY BACK GUARANTEE</h3>
      <p class="text-sm mt-2 text-center text-wrap">We return money within 30 days</p>
    </div>
  </div>
</section>
