<div
  class="px-3 lg:px-4 wrapper 2xl:px-0 pt-5 lg:pt-10  pb-9 lg:pb-16 border-b-[0.5px] border-b-gray-500">
  <h1 class="my-6 title">Our products</h1>
  <div
    class="flex items-center justify-between gap-4">
    <h3 class="text-lg font-semibold xl:text-2xl text-nowrap">Explore Our
      Products</h3>
    <div class="flex items-center justify-end w-full gap-4 md:w-fit">
      <button (click)="scrollPrev()" class="arrow">
        <ng-icon name="heroArrowLeft" class="text-sm" />
      </button>
      <button (click)="scrollNext()" class="arrow">
        <ng-icon name="heroArrowRight" class="text-sm" />
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-14">
    <div class='relative h-full mt-5 embla'>
      <div class="embla__viewport" emblaCarousel
        [options]="options">
        <div class="embla__container">
          @for (product of productService.allProducts; track $index) {
          <div class="embla__slide">
            <app-product [product]="product" [reduction]="false"/>
          </div>
          }
        </div>
      </div>
    </div>
    <button class="px-12 py-4 mx-auto text-base font-medium text-white capitalize bg-red-400 rounded w-fit">
      View All Products
    </button>
  </div>
</div>
