.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  @apply md:gap-4 xl:gap-8;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  @apply md:grow-0 md:shrink-0 md:basis-1/2;
  @apply xl:basis-1/4;
}

.arrow {
  @apply flex items-center justify-center w-12 h-12 p-2 rounded-full bg-slate-200;
}
