<div class="px-3 lg:px-4 wrapper 2xl:px-0">
  <h1 class="my-6 title">Today's</h1>
  <div
    class="flex flex-col justify-between gap-4 xl:flex-row md:flex-row md:items-center sm:justify-start sm:gap-4">
    <h3 class="text-lg font-semibold xl:text-2xl text-nowrap">Flash Sales</h3>
    <div class="flex flex-wrap items-center justify-between gap-2 md:w-full">
      <div class="flex items-center gap-4">
        <div class="flex flex-col gap-1">
          <span class="text-xs">Days</span>
          <span class="text-lg">03</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-xs">Hours</span>
          <span class="text-lg">23</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-xs">Minutes</span>
          <span class="text-lg">19</span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-xs">Seconds</span>
          <span class="text-lg">56</span>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <button (click)="scrollPrev()" class="arrow">
          <ng-icon name="heroArrowLeft" size="20"/>
        </button>
        <button (click)="scrollNext()" class="arrow">
          <ng-icon name="heroArrowRight" size="20"/>
        </button>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-6 mt-6 pb-36">
    <div class='relative h-full embla'>
      <div class="embla__viewport" emblaCarousel
        [options]="options">
        <div class="embla__container">
          @for (product of productService.products; track $index) {
          <div class="embla__slide">
            <app-product [product]="product"/>
          </div>
          }
        </div>
      </div>
    </div>
    <button
      class="px-10 py-2 mx-auto my-2 text-sm text-white capitalize bg-red-400 rounded-md w-fit">view
      all products</button>
  </div>
</div>
