.embla {
  overflow: hidden;
}
.embla__container {
  @apply flex;
  @apply lg:grid lg:grid-rows-2 w-full lg:grid-flow-col gap-2 lg:gap-y-8 auto-cols-[80%] lg:auto-cols-[23%] lg:gap-8 lg:justify-between;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  @apply md:grow-0 md:shrink-0 md:basis-1/2;
  @apply xl:basis-1/4;
}

.arrow {
  @apply flex items-center justify-center w-10 h-10 p-2 rounded-full md:w-12 md:h-12 bg-slate-200;
}
